<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styless/styless.css">
    <link rel="icon" href="../assets/img/icon.png">
    <title>DonkeyRoads</title>
</head>
<body>
    <nav class="main-menu">
        <a href="../index.html"> <img src="../assets/img/DonkeyRoads.png" width="180"  height="80"></a>
         
         <ul class="main-menu opt-menu">
             <li><a href="../index.html" target="_blank"><img src="../assets/img/home.png" alt="inicio" width="40" height="40"></a></li>
             <li><a href="../views/login.html" target="_blank"><img src="../assets/img/perfil.png" width="38" height="38" alt=""></a></li>
             <li><a href="../views/mapa.html" target="_blank"><img src="../assets/img/search.png" width="40" height="40" alt="buscar"></a></li>
         </ul>
     </nav> 
    <br><br><br>
    <h1>¡Tu servicio ha sido aprovado!</h1>
    <br><br><br><br><br>
    <div class="box"><img src="../assets/img/icon.png"></div><br>
    <p>(Nombre del transportador) Te recogerá.<br>
    <br>
    <p>Detalles del conductor:</p> <br>
    <p>Valor del servicio: $$$</p> <br>
    
    <button class="bttn">Ver condiciones del servicio</button>&nbsp;&nbsp;&nbsp;
    <button class="bttn"> Elegir tu medio de pago</button>&nbsp;&nbsp;&nbsp;
    <button class="bttn">Rechazar</button>
    <br><br><br>
    <footer><p>Derechos reservados | Realizado por: Grupo Desarrollo DonkeyRoads Ingeniería de Software 12A - Uniempresarial.</p></footer>
</body>
</html>