<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styless/styless.css">
    <link rel="icon" href="../assets/img/icon.png">
    <title>DonkeyRoads</title>
</head>
<body>
    <header class="-pborderg">
        <div>
            <img src="../assets/img/perfil.jpg" alt="perfil" class="icon">
            <figcaption>DonkeyRoads</figcaption>
        </div>     
    </header> 
    <br><br><br>
    <h1>¡Tu servicio ha sido aprovado!</h1>
    <br><br><br><br><br>
    <div class="box"><img src="../assets/img/icon.png"></div><br>
    <p>(Nombre del transportador) Te recogerá.<br>
    <br>
    <p>Detalles del conductor:</p> <br>
    <p>Valor del servicio: $$$</p> <br>
    
    <button class="bttn">Ver condiciones del servicio</button>&nbsp;&nbsp;&nbsp;
    <button class="bttn">Elegir tu medio de pago</button>&nbsp;&nbsp;&nbsp;
    <button class="bttn">Rechazar</button>
    <br><br><br>
    <footer>Derechos reservado 2022</footer>
</body>
</html>