<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DonkeyRoads-Pagina de Ayuda</title>
    <link rel="stylesheet" href="../styless/stylessSarita/Ayuda.css">
</head>
<body>
    <main class="container">
        <div class="row">
            <div class="container-ayuda">
                <div class="tittle-ayuda">
           
                    <h1>Ayuda</h1>
        
                </div>
                <div class="item-ayuda">
                   <div class="pregunta">
                      <h3>¿Como puedo cambiar la información de mi perfil?<span><strong> ✖️</strong></span></h3>
                      <div class="more">▼</div><!--desglosar pregunta-->
                    </div>                     
                      <div class="respuesta">
                      <p>Dirijase a la opción de perfil de usuario, en la esquina superior izquierda encontrará la opción "Editar información", al hacer click podrá editar la información de su perfil.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-ayuda">
                <div class="item-ayuda">
                   <div class="pregunta">
                      <h3>¿Como cambiar la contraseña?<span><strong> ✖️</strong></span></h3>
                      <div class="more">▼</div><!--desglosar pregunta-->
                    </div>                     
                      <div class="respuesta">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam a voluptatem laborum fugit id architecto autem sed officiis quam. Aperiam incidunt iste quam autem illo. Deleniti maiores ea doloribus recusandae?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-ayuda">
                <div class="item-ayuda">
                   <div class="pregunta">
                      <h3>Los conductores no responden<span><strong> ✖️</strong></span></h3>
                      <div class="more">▼</div><!--desglosar pregunta-->
                    </div>                     
                      <div class="respuesta">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam a voluptatem laborum fugit id architecto autem sed officiis quam. Aperiam incidunt iste quam autem illo. Deleniti maiores ea doloribus recusandae?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-ayuda">
            <div class="item-ayuda">
               <div class="pregunta">
                  <h3>¿Como puedo eliminar mi cuenta?<span><strong> ✖️</strong></span></h3>
                  <div class="more">▼</div><!--desglosar pregunta-->
                </div>                     
                  <div class="respuesta">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam a voluptatem laborum fugit id architecto autem sed officiis quam. Aperiam incidunt iste quam autem illo. Deleniti maiores ea doloribus recusandae?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-ayuda">
            <div class="item-ayuda">
               <div class="pregunta">
                  <h3>¿Como puedo reportar a un usuario?<span><strong> ✖️</strong></span></h3>
                  <div class="more">▼</div><!--desglosar pregunta-->
                </div>                     
                  <div class="respuesta">
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur consectetur delectus possimus quis incidunt accusantium? Numquam, sint impedit suscipit aliquid, cum sequi cumque autem accusamus fugiat fugit, quidem ratione facere!</p>
                </div>
                
            </div>
        </div>
    </div>
    <br><br>
    <div class="dudas">
        <p><u>¿Tienes más dudas?</u></p>
        <br>
        <button type="button" id="comunic">Comunicate con nosotros
        </button>
        </div>
    </main>
   <script src="../scripts/ayuda.js"></script> 
</body>
</html>