<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/styless/stylessNicolas/calificacion.css">
    <title>calificacion de estrellas</title>
</head>
<body>
    <article> 
    <h1 class="title">¿Como te ha parecido el servicio?</h1>
    <div class="rating-container">
    <input type="radio" name="rating" id="star-1">
    <label for="star-1" ><i class="fa-solid fa-star"></i></label>
    <input type="radio" name="rating" id="star-2">
    <label for="star-2" ><i class="fa-solid fa-star"></i></label>
    <input type="radio" name="rating" id="star-3">
    <label for="star-3" ><i class="fa-solid fa-star"></i></label>
    <input type="radio" name="rating" id="star-4">
    <label for="star-4" ><i class="fa-solid fa-star"></i></label>
    <input type="radio" name="rating" id="star-5">
    <label for="star-5" ><i class="fa-solid fa-star"></i></label>
    </div>
    <br><br>
    <p>opiniones:</p>
    <label class="obser" for="cuadro"></label>
    <textarea class="opi"id="cuadro" name="textarea" minlength="3" maxlength="3000"></textarea> 
    </article>

    

</body>
</html>