<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styless/stylessSarita/camPerfil.css">
    <title>DonkeyRoads-Ajustes</title>
</head>
<header>
    <h1>Editar perfil</h1>
</header>
<body>
    <main class="container">
        <nav class="header">
            <nav class="foto">
                <nav class="avatar">
                    <img src="" alt="img-avatar">
    
                </nav>
            </nav>
        </nav>
        <button type="button" id="boton-editar">Cambiar foto de perfil
        </button>
     </nav>
    <div class="nombre">
        <label for="nom">Nombre:</label>
        <input type="name" id="nom" name="nom" placeholder="XXX XXX"
        min="3"
        max="999999999"><br><br>
    </div>
    <div class="apellido">
        <label for="apel">Apellido:</label>
        <input type="name" id="apel" name="apel" placeholder="XXX XXX"
        min="3"
        max="999999999"><br><br>
    </div>
    <div class="tele">
        <label for="tel">Número telefónico:</label>
        <input type="tel" id="tel" name="tel" placeholder="*** *****14"
        min="3"
        max="999999999"><br><br>
    </div>
    <div class="correo">
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" placeholder="****@email.com"
        min="3"
        max="999999999"><br><br>
    </div>
    <br><br>
    <form>
    <button type="button" id="comunic">Guardar cambios
    </button>
    <button type="button" id="comunic">Cerrar sesión
    </button>
    </main>
</body>
</html>