<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styless/stylessSarita/camPerfil.css">
    <title>DonkeyRoads-Ajustes</title>
    <link rel="icon" href="../assets/img/iconF.png">
</head>

<body>
    <header class="header">
        <a href=""><img src="../assets/img/585e4beacb11b227491c3399.png" alt="usuario" class="header-s-icon"></a>
        <div class="header-div">
            <a href="">
                <h1 class="header-title">DonkeyRoads</h1>
                <img src="../assets/img/iconF.png" alt="logo" class="header-icon">
            </a>
            <h2 class="header-subtitle">Seccion</h2>
        </div>
        <a href=""><img src="../assets/img/search.png" alt="usuario" class="header-s-icon"></a>
    </header>
  
        <form class="form">
    
            <div class="portada">
                <div class="avatar">
                    <img src="" alt="img-avatar">
                </div>
        </div>
        <button type="button" class="boton-avatar">Cambiar foto de perfil
        </button>
          <label for="inputNombre">Nombre:</label>
          <input 
          type="text" 
          class="form" 
          name="nombre"
          id="inputNombre" 
          placeholder="Ingrese su nombre(s)">
        
            <label for="inputApellido">Apellido:</label>
            <input 
            type="text" 
            class="form" 
            name="apellido"
            id="inputApellido" 
            placeholder="Inserte sus apellidos">

          <label for="inputTel">Número de teléfono:</label>
          <input 
          type="number" 
          class="form" 
          id="inputTel"
          name= "telefono"
          placeholder="Número de teléfono">
       
          <label for="inputDocument">Número de Documento:</label>
          <input 
          type="number" 
          class="form" 
          id="inputDocument"
          min="2"
          max="999999999"
          name="dcument"
          placeholder="Su ID no será pública">

        
          <label for="inputEmail">Correo electrónico:</label>
          <input 
          type="email" 
          class="form" 
          id="inputEmail" 
          placeholder="Correo/Email">
         
        <div class="form-check">

    <button type="submit" id="btnDatos" class="btn btn-info" >Guardar cambios
    </button>
    <button type="submit" id="btnDatos" class="btn btn-info">cancelar
    </button>
        </div>
  </form>
    <script src="../scripts/camPerfil.js"></script>
</body>
</html>
