<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styless/styless.css">
    <link rel="icon" href="../assets/img/icon.png">
    <title>DonkeyRoads</title>
</head>
<body>
    <header class="-pborderg">
        <div>
            <img src="../assets/img/perfil.jpg" alt="perfil" class="icon">
        </div>     
    </header>
<h1>Condiciones del servicio</h1>
    <br><br><br><br>
    <div class="box"><img src="../assets/img/icon.png"></div><br>
    <p>Nombre del cliente
    <p>Estado del servicio</p>
    <p>Fecha y hora del servicio</p>
    <p>Peso de la carga</p>
    <p>Volume de la carga</p>
    <p>Tipo de carga</p>
    <br><br><br>
    <form>
        <div>
          <label class="box">Detalles / Adicionales:</label>
        </div>
        <div>
            <label for="content"></label>
            <textarea id="content" name="content" cols="60" rows="5">
            </textarea>
          </div>
        <input type="hidden" id="postId" name="postId" value="34657">
    </form><br>
    <label for="acepta">Aceptar terminos y condiciones</label>
        <input type="checkbox" id="terminos">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="bttn">Siguiente</button>
    <br><br><br>
    <footer>Derechos reservado 2022</footer>
</body>
</html>