<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styless/styless.css">
    <link rel="icon" href="../assets/img/icon.png">
    <title>DonkeyRoads-Servicios activos</title>
</head>
<body>
    <header class="header-p" >
        <img src="../assets/img/perfil.jpg" alt="perfil" class="iconh">
        <h1 class="line-text">Detalles de servicio</h1>
    </header>
    <main class="disponible-center">
        <hr>
        <img src="../assets/img/perfil.jpg" alt="usuario" class="line" width="45px">
        <h2 class="line-text" id="userD">Nombre usuario</h2>
        <hr>
        <div >
        <div class="line-text-left-detal">
            <h3>Fecha y hora del servicio</h3>
            <h4>***</h4>
            <br>
            <h3>Peso de la carga:</h3>
            <h4>***</h4>
            <br>
            <h3>Volumen de la carga:</h3>
            <h4>***</h4>
            <br>
            <h3>Tipo de carga:</h3>
            <h4>***</h4>
            <br>
            <h3>Personal de carga adicional:</h3>
            <h4>***</h4>
        </div>
        <div class="line-left-ldetal-text">
            <h3>Detalles</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi ab saepe, consequuntur quae delectus aliquid commodi ut provident earum. Tenetur obcaecati iste rerum, dolore molestiae aut at quasi aspernatur reprehenderit!</p>
            <br>  
            <h3>Condiciones</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur esse nesciunt natus odit distinctio consequuntur doloremque, perspiciatis, exercitationem velit molestiae quo tempora deleniti assumenda, placeat eveniet molestias ipsa praesentium quasi?</p>
            <br>
            <label for="TyC">Acepta terminos y condiciones</label>
            <input type="checkbox" name="TyC" disabled checked>
        </div>

        </div>
        <buttom class="bttn-p-text" id="submitDet" >Tomar</buttom>
    </main>
    <footer class="center">
    </footer>
</body>
</html>