<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styless/styless.css">
        <link rel="icon" href="../assets/img/icon.png">
        <title>DonkeyRoads</title>
    </head>
<body>
    <header class="-pborderg">
        <nav class="main-menu">
            <a href="../index.html"> <img src="../assets/img/DonkeyRoads.png" width="180"  height="80"></a>
             
             <ul class="main-menu opt-menu">
                 <li><a href="../index.html" target="_blank"><img src="../assets/img/home.png" alt="inicio" width="40" height="40"></a></li>
                 <li><a href="../views/login.html" target="_blank"><img src="../assets/img/perfil.png" width="38" height="38" alt=""></a></li>
                 <li><a href="../views/mapa.html" target="_blank"><img src="../assets/img/search.png" width="40" height="40" alt="buscar"></a></li>
             </ul>
         </nav>     
    </header>
<h1>Historial de servicios</h1>
    <br><br><br><br>
    <div class="box"><img src="../assets/img/icon.png"></div><br>
    <p>Nombre del transportador/Cliente
    <p>Estado del servicio</p>
    <p>Fecha y hora del servicio</p>
    <p>Peso de la carga:</p>
    <p>Volume de la carga:</p>
    <p>Tipo de carga</p>
    <label for="acepta">Ayudante de carga</label>
        <input type="checkbox" id="terminos"><br>
    <button class="bttn">➡Chat</button>&nbsp;&nbsp;&nbsp;
    <button class="bttn">Mapa</button>&nbsp;&nbsp;&nbsp;
    <br><br><br>
    <div class="box"><img src="../assets/img/icon.png"></div><br>
    <p>Nombre del transportador/Cliente
    <p>Estado del servicio</p>
    <p>Fecha y hora del servicio</p>
    <p>Peso de la carga:</p>
    <p>Volume de la carga:</p>
    <p>Tipo de carga</p>
    <label for="acepta">Ayudante de carga</label>
        <input type="checkbox" id="terminos">
    <br><br><br>
    <button class="bttn">➡Chat</button>&nbsp;&nbsp;&nbsp;
    <button class="bttn">Mapa</button>&nbsp;&nbsp;&nbsp;<br><br><br>
    <button class="bttn">Regresar</button>
    <br><br><br>
    <footer><p>Derechos reservados | Realizado por: Grupo Desarrollo DonkeyRoads Ingeniería de Software 12A - Uniempresarial.</p></footer>
</body>
</html>