<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styless/styless.css">
    <link rel="icon" href="../assets/img/icon.png">
    <title>DonkeyRoads-Servicios activos</title>
</head>
<body>
    <header class="header-p" >
        <img src="../assets/img/perfil.jpg" alt="perfil" class="iconh">
        <h1 class="line-text">Llamando...</h1>
    </header>
    <main class="llamando">
        <div class="llamada">
            <div class="text-center">
                <img width="200px" src="../assets/img/perfil.jpg" alt="usuario">
                <h2 class="text">Llamando a usuario</h2>
                <h2 class="text">00:00</h2>
            </div>
            <div class="mainOptions-center">
                <div class="text-center-line" id="silence">
                    <img src="../assets/img/silence.png" alt="silence" width="100px">
                    <h2 class="text">Silenciar</h2>
                </div>
                <div class="space-line"></div>
                <div class="text-center-line" id="altavoz">
                    <img src="../assets/img/volume.png" alt="altavoz" width="100px">
                    <h2 class="text">Altavoz</h2>
                </div>
                <div class="space-line"></div>
                <div class="text-center-line" id="pause">
                    <img src="../assets/img/pause.png" alt="pause" width="100px">
                    <h2 class="text">Pausa</h2>
                </div>
                <div class="space-line"></div>
                <div class="text-center-line" id="colgar">
                    <img src="../assets/img/colgar.png" alt="colgar" width="100px">
                    <h2 class="text">Colgar</h2>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>