<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DonkeyRoads</title>
    <link rel="icon" type="image/png" href="/assets/img/icon.png">
    <link rel="stylesheet" href="/styless/styless.css">
</head>

<body>
    <nav class="main-menu">
        <a href="./index.html"> <img src="/assets/img/DonkeyRoads.png" width="180"  height="80"></a>
         
         <ul class="main-menu opt-menu">
             <li><a href="/index.html" target="_blank"><img src="/assets/img/home.png" alt="inicio" width="40" height="40"></a></li>
             <li><a href="/views/login.html" target="_blank"><img src="/assets/img/perfil.png" width="38" height="38" alt=""></a></li>
             <li><a href="/views/mapa.html" target="_blank"><img src="/assets/img/search.png" width="40" height="40" alt="buscar"></a></li>
         </ul>
    </nav>

    <div>
        <section class="container-login">
            <h3>Iniciar sesión</h3>
            <article class="login">
                <img src="../assets/img/icon.png" alt="">
                <div>
                  <input type="text" name="user" placeholder="Usuario">
                  <input type="text" name="password" placeholder="Contraseña">

                  <button id="ingresar">Ingresar</button>
                  <p><a href=""></a> ¿Olvidaste tu contraseña?</p>
                  <p>¿No tienes cuenta? <a href="./resgistroCliente.html" class="alert-link"> ¡Regístrate ahora!</a></p>
                </div>
            </article>
        </section>
    </div>


    <footer><p>Derechos reservados | Realizado por: Grupo Desarrollo DonkeyRoads Ingeniería de Software 12A - Uniempresarial.</p></footer>
</body>
</html>