<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styless/stylessNicolas/styless.css">
    <title>Document</title>
</head>
<body>
    <header><h1 class="title">Metodos de pago </h1></header>
            <article><img class="imgcomun" src="/assets/img/tarjetas-bines.png">
                <section><p class="textn">Elija un metodo de pago:</p></section>
                    <article>
                        
                        <a href="https://www.efecty.com.co/web/" class="bttn1">Efectivo</a>
                        <br><a href="https://transacciones.nequi.com/bdigital/login.jsp" class="bttn2" >Nequi</a>
                        <br><a href="./tarjetacredito.html" class="bttn3" >Tarjeta credito</a>
                        <br><a href="./tarjetadebito.html" class="bttn4" >Tarjeta Debito</a>
                        <br><a href="https://www.pse.com.co/persona" class="bttn5" >PSE</a>
                        
                    </article>
            </article>
    
            <footer></footer>
</body>
</html>