<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styless/styless.css">
    <link rel="icon" href="../assets/img/icon.png">
    <title>DonkeyRoads-Notificaciones</title>
</head>
<body>
    <!--
    (header[class="header"]>img[class="iconh"]+div[class="line-center"]>h1{DonkeyRoads}+img[class="icon"])+(main[class="center"]>h2+(div>iframe[class="iconw"]+h4*3+input[type="checkbox"]+label)+(div[class="right"]>h3+h4*2+div>button[class="-p"]*4))+footer-->
    <header class="header-p" >
        <img src="../assets/img/perfil.jpg" alt="perfil" class="iconh">
        <h1 class="line-text">Centro de mensajes</h1>
    </header>
    <main class="center">
        <nav><a href="./notificaciones.html" class="borderg-text-line">Notificaciones</a><div class="line" width="20px"></div><a href="./mensajes.html" class="borderg-text-p-line">Mensajes</a></nav>
        <hr>
        <div class="borderg-centromsj">
            <img src="../assets/img/perfil.jpg" alt="autor-notificacion" class="centromsj">
            <div class="line-notiftext">
                <h2 class="text">Titulo de notificacion</h2>
                <p class="text">Texto de notificacion: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem nemo incidunt, deserunt repudiandae esse ducimus dolores, rerum recusandae delectus, quisquam doloribus exercitationem aut dolor. Nobis obcaecati ducimus unde, sint modi similique sunt quasi cum a corporis ipsam eaque molestias magni quis dolores nesciunt? Aut eius repellat tenetur hic. Neque, alias. </p>

            </div>
        </div>
        <div class="borderg-centromsj">
            <img src="../assets/img/perfil.jpg" alt="autor-notificacion" class="centromsj">
            <div class="line-notiftext">
                <h2 class="text">Titulo de notificacion</h2>
                <p class="text">Texto de notificacion: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem nemo incidunt, deserunt repudiandae esse ducimus dolores, rerum recusandae delectus, quisquam doloribus exercitationem aut dolor. Nobis obcaecati ducimus unde, sint modi similique sunt quasi cum a corporis ipsam eaque molestias magni quis dolores nesciunt? Aut eius repellat tenetur hic. Neque, alias. </p>

            </div>
        </div>
        <div class="borderg-centromsj">
            <img src="../assets/img/perfil.jpg" alt="autor-notificacion" class="centromsj">
            <div class="line-notiftext">
                <h2 class="text">Titulo de notificacion</h2>
                <p class="text">Texto de notificacion: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem nemo incidunt, deserunt repudiandae esse ducimus dolores, rerum recusandae delectus, quisquam doloribus exercitationem aut dolor. Nobis obcaecati ducimus unde, sint modi similique sunt quasi cum a corporis ipsam eaque molestias magni quis dolores nesciunt? Aut eius repellat tenetur hic. Neque, alias. </p>

            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>