<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styless/stylessNicolas/styless.css">
    <title>Pago rechazado</title>
</head>
<body>
    <img class="imgcomun2" src="/assets/img/585e4beacb11b227491c3399.png" >
    <br><br>
    <h1 class="title3">Su pago ha sido rechazado</h1><br><br>
    <h2 class="title4">Verifique su transacción y vuelve a intentarlo</h2><br>
    <button class="btnn7 button-main">Ayuda</button><br>
    <button class="btnn8 button-main">Soporte Tecnico</button>

</body>
</html>