<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styless/styless-basic.css">
    <link rel="stylesheet" href="./styless/stylessKaren/index.css">
    <link rel="stylesheet" href="../styless/stylessKaren/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Combo&family=Oswald:wght@300;400;500&family=Prompt:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="icon" href="../assets/img/iconF.png">
    <link rel="stylesheet" href="../styless/stylessNicolas/styless.css">
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <title>DonkeyRoads</title>
</head>

<body>
    <header class="header">
        <a href=""><img src="../assets/img/585e4beacb11b227491c3399.png" alt="usuario" class="header-s-icon"></a>
        <div class="header-div">
            <a href="">
                <h1 class="header-title">DonkeyRoads</h1>
                <img src="../assets/img/iconF.png" alt="logo" class="header-icon">
            </a>
        </div>
        <a href=""><img src="../assets/img/search.png" alt="usuario" class="header-s-icon"></a>
    </header>

    <div>
        <img src="../assets/img/icon.png" alt="">
        <h3>Resgistro de vehículo</h3>
        <select name="registroVehiculo" id="registroVehiculo">
            <option value="nada" select="selected">Marca</option>
            <option value="">Toyota</option>
            <option value="">Chevrolet</option>
            <option value="">JAC</option>
            <option value="">Foton</option>
        </select>
        <input type="text" placeholder="Placa">
        <select name="" id="">
            <option value="">Tipo de vehículo</option>
            <option value="">Carga pequeña</option>
            <option value="">Carga pesada</option>
            <input type="text" placeholder="Capacidad de carga(Kg)">
            <input type="text" placeholder="Capacidad de carga(mXm)">
        </select>
        <h3>Documentos</h3>
        <button>Adjuntar Licencia</button>
        <button>Adjuntar SOAT</button>
        <button >Adjuntar carta de propiedad</button>
    </div>
    

    <footer class="footer">
        <h4 class="footer-text">Derechos reservados de <a href="https://www.uniempresarial.edu.co/" target="_blank" >Uniempresarial</a></h4>
        <a href="https://github.com/SantherEHPM/DonkeyRoads.git" target="_blank">
            <svg class="mini-icon"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
        </a>
    </footer>
    <script src="../scripts/tarjetaDebito.js"></script>
</body>
</html>