<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DonkeyRoads</title>
    <link rel="icon" type="image/png" href="./assets/img/icon.png">
    <link rel="stylesheet" href="./styless/styless.css">
</head>

<body>
    <!--MENÚ-->
    <nav class="main-menu">
        <a href="./index.html"><img src="./assets/DonkeyRoads.png"></a>
        
        
        <ul class="main-menu opt-menu">
            <li><a href="./views/login.html" target="_blank">Iniciar Sesión</a></li>
            <li><a href="./views/mapa.html" target="_blank">Buscar</a></li>
        </ul>
    
    
    </nav>
    <button>Registrase</button>
    <input type="text" placeholder="Nombre">
    <input type="text" name="" id="" placeholder="Apellido">
    <input type="text"placeholder="Usuario">
    <input type="text" placeholder="Correo">
    <input type="text" placeholder="Contraseña">
    <input type="text" placeholder="Confirme su contraseña">
    <input type="text" placeholder="Celular">
    <input type="text" placeholder="Dirección"> 


    <footer><p>Realizado por: Grupo Desarrollo DonkeyRoads Ingeniería de Software 12A - Uniempresarial.</p></footer>
</body>
</html>