<!DOCTYPE html>
<html lang="en">
<header>
    <link rel="stylesheet" href="../styless/stylessErick/servicios_activos.css">
</header>
<body>
    <main>
    </main>
    <template id="service"> 
        <section class="conjunter">
                <a href="./mapa_simple.html"> 
                    <iframe class="line map"src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1988.719076833725!2d-74.0930589!3d4.5147809!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3fa356d4e41fbb%3A0xf4abb8d633e3aedd!2sHelader%C3%ADa%20y%20fruter%C3%ADa%20LECHE%20Y%20MIEL!5e0!3m2!1ses!2sco!4v1662220930434!5m2!1ses!2sco" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </a>
            <div class="line text">
                <h2>Nombre de transportador/cliente</h2>
                <h3 >Estado de servicio</h3>
                <h3 >Fecha y hora del servicio</h3>
                <h3 >Peso de la carga:</h3>
                <h3 >Volumen de la carga:</h3>
                <h3 >Tipo de carga:</h3>
                <input id="personal" type="checkbox">
                <label for="personal" class="text" disabled>Personal de carga adicional</label> 

                <a href="./AprovadoDelServicio.html"> <div><button class="button-main" >Contactar</button></a>
                    <a href="./mapa_simple.html"><button class="button-main btn-m">Mapa</button></a>
                   <button class="button-other" id="cancelar">Cancelar</button></div>
            </div>
        </section>
    </template>
    <script>
        'use strict';
        setTimeout(()=>{
            let seccicion = document.querySelector(".header-subtitle");
        console.log(seccicion);
        seccicion.textContent = "Servicios activos";
        },10);
    </script>
    <script src="../scripts/styless-basic.js"></script>
    <script src="../scripts/generador_servicios.js" type="module"></script>
    <script src="../scripts/validacion_modal.js"></script>
</body>
</html>