<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styless/styless.css">
    <link rel="icon" href="../assets/img/icon.png">
    <title>DonkeyRoads-Servicios activos</title>
</head>
<body>
    <!--
    (header[class="header"]>img[class="iconh"]+div[class="line-center"]>h1{DonkeyRoads}+img[class="icon"])+(main[class="center"]>h2+(div>iframe[class="iconw"]+h4*3+input[type="checkbox"]+label)+(div[class="right"]>h3+h4*2+div>button[class="-p"]*4))+footer-->
    <header class="header-p" >
        <img src="../assets/img/perfil.jpg" alt="perfil" class="iconh">
        <h1 class="line-text">Servicios activos</h1>
    </header>
    <main class="center">
        <div class="serv-borderl">
            <div class="left-line-serv">
                <iframe class="iconw" height="200px" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1988.719076833725!2d-74.0930589!3d4.5147809!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3fa356d4e41fbb%3A0xf4abb8d633e3aedd!2sHelader%C3%ADa%20y%20fruter%C3%ADa%20LECHE%20Y%20MIEL!5e0!3m2!1ses!2sco!4v1662220930434!5m2!1ses!2sco" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="left-line-serv">
                <h2 class="text">Nombre de transportador/cliente</h2>
                <h3 class="text">Estado de servicio</h3>
                <h3 class="text">Fecha y hora del servicio</h3>
                <h3 class="text">Peso de la carga:</h3>
                <h3 class="text">Volumen de la carga:</h3>
                <h3 class="text">Tipo de carga:</h3>
                <input id="personal" type="checkbox">
                <label for="personal" class="text" disabled>Personal de carga adicional</label> 
                <div><button class="bttn-p-text">Chat</button><button class="bttn-p-text">Llamar</button><button class="bttn-p-text">Mapa</button><button class="bttn-borderl-text" onclick="cancelar()">Cancelar</button></div>
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="../scripts/cancelar.js"></script>
</body>
</html>