<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../styless/stylessSarita/int.css">
    <title>DonkeyRoads-Soporte técnico</title>
    <link rel="icon" href="../assets/img/iconF.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header class="header">
   <li><a href="../views/perfil_usuario.html" target="_blank"><img src="../assets/img/585e4beacb11b227491c3399.png" alt="usuario" class="header-s-icon"></a></li>
    <div class="header-div">
        <a href="">
            <h1 class="header-title">DonkeyRoads</h1>
            <img src="../assets/img/iconF.png" alt="logo" class="header-icon">
        </a>
        <h3 class="header-subtitle">Soporte técnico</h2>
    </div>
    <a href=""><img src="../assets/img/search.png" alt="usuario" class="header-s-icon"></a>
</header>
<body>

    <div class="chat-bar-collapsible">
        <button id="chat-button" type="button" class="collapsible">Contactanos
            <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
        </button>

        <div class="content">
            <div class="full-chat-block">
                <!-- Message Container -->
                <div class="outer-container">
                    <div class="chat-container">
                        <!-- Messages -->
                        <div id="chatbox">
                            <h5 id="chat-timestamp"></h5>
                            <p id="botStarterMessage" class="botText"><span>Cargando...</span></p>
                        </div>

                        <!-- User input box -->
                        <div class="chat-bar-input-block">
                            <div id="userInput">
                                <input id="textInput" class="input-box" type="text" name="msg"
                                    placeholder="Escribe tu pregunta...">
                                <p></p>
                            </div>

                            <div class="chat-bar-icons">
                                <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart"
                                    onclick="heartButton()"></i>
                                <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send"
                                    onclick="sendButton()"></i>
                            </div>
                        </div>

                        <div id="chat-bar-bottom">
                            <p></p>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>


    <!--<script src="jquery-3.4.1.min.js"></script>-->
    <script src="../scripts/SopTec.js"></script>
    <script src="../scripts/respuestas.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>