<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../styless/stylessSarita/SopTec1.css">
    <title>DonkeyRoads-Soporte técnico</title>
</head>
<header>
    <h1 class="titulo">Soporte técnico</h1>
</header>
<body>

    <div class="container">
        <div class="chat">
            <div class="chat-bot">
                ¡Hola!
            </div>
            <div class="chat-yo">
                Hola
            </div>
            <div class="chat-bot">
                ¿Como puedo ayudarte?
            </div>
            <div class="input">
                <input 
                type="texto"
                placeholder="Escriba su mensaje... ">
                <button class="enviar"><i class='bx bx-send'></i></button>
            </div>
        </div>
    </div>

    <!--<main class="wrapper">
    <div class="content">
    <div class="send">
        <span class="item-msj">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quod commodi deleniti iure nostrum quia nulla, impedit, eum consequuntur laudantium obcaecati. Aliquam asperiores corrupti dolores, dignissimos nesciunt iste rerum aperiam.
        </span>
        <span class="item-time">08:30</span>
    </div>
    <div class="send">
        <span class="item-msj">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quod commodi deleniti iure nostrum quia nulla, impedit, eum consequuntur laudantium obcaecati. Aliquam asperiores corrupti dolores, dignissimos nesciunt iste rerum aperiam.
        </span>
        <span class="item-time">08:30</span>
    </div>
    </div>
    <label for="boton-msj"></label>
    <div class="boton-msj">
        <form action = "#" class="form">
            <textarea 
            rows="1" 
            name="boton-msj"
            placeholder="Escriba su mensaje..."
            class="input-msj">
        </textarea>
        <button type="submit" class="enviar"><i class='bx bx-send'></i></button>
        </form>
    </div>
    </main>-->
    <script src="jquery-3.4.1.min.js"></script>
    <script src="../scripts/SopTec.js"></script>
</body>
</html>