<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styless/stylessSarita/privacidad.css">
    <link rel="stylesheet" href="../styless/styless-basic.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="../assets/img/iconF.png">
    <title>DonkeyRoads-Politica de privacidad</title>
</head>
<header class="header">
    <li><a href="../views/perfil_usuario.html" target="_blank"><img src="../assets/img/585e4beacb11b227491c3399.png" alt="usuario" class="header-s-icon"></a></li>
    <div class="header-div">
        <a href="">
            <h1 class="header-title">DonkeyRoads</h1>
            <img src="../assets/img/iconF.png" alt="logo" class="header-icon">
        </a>
        <h2 class="header-subtitle">Politica de privacidad</h2>
    </div>
    <a href=""><img src="../assets/img/search.png" alt="usuario" class="header-s-icon"></a>
</header>
<body>
    <li>
        <img src="../assets/img/iconVF2.png" alt="" height="60%"><br><br>
    </li>
    <h3>Qué se trata en estos términos</h3>
    <h2>Sabemos que es tentador saltarse estos Términos del Servicio, pero es importante determinar qué puedes esperar de nosotros al usar los servicios de Google y qué esperamos nosotros de ti.
Estos Términos del Servicio reflejan la forma de trabajar de Google como empresa, las leyes por las que nos regimos y determinados aspectos que siempre hemos creído que son ciertos. Por ello, estos Términos del Servicio ayudan a definir la relación que tiene Google contigo cuando interactúas con nuestros servicios. Por ejemplo, estos términos incluyen las siguientes secciones:</h2>
<p></p>
Qué puedes esperar de nosotros, donde se describe cómo proporcionamos y desarrollamos nuestros servicios.
Lo que esperamos de ti, donde se establecen ciertas reglas para utilizar nuestros servicios.
Contenido en los servicios de Google, donde se describen los derechos de propiedad intelectual relacionados con el contenido que aparece en nuestros servicios, ya sea propiedad tuya, de Google o de terceros.
En caso de problemas o discrepancias, donde se describen otros derechos legales que tienes y las consecuencias de infringir estos términos.
Es importante que entiendas estos términos porque el uso de nuestros servicios implica que los aceptas.

Además de estos términos, también publicamos una Política de Privacidad. Aunque no forme parte de estos términos, te recomendamos que la leas para entender mejor cómo puedes actualizar, gestionar, exportar y eliminar tu información.
</p>

<h2>Términos</h2>
<h3>Proveedor de servicios</h3>
<>
Los servicios de DonkeyRoads los proporciona y se contratan con:

DonkeyRoads LLC
Empresa que se rige por las leyes del estado de Delaware (EE. UU.) y que opera bajo la legislación estadounidense

1600 Amphitheatre Parkway
Mountain View, California, 94043
EE. UU.


<h3>Requisitos de edad mínima</h3>
<p>
Si no tienes la edad mínima para poder gestionar tu propia cuenta de Google, debes contar con el permiso de tu padre, madre o tutor legal para utilizar una cuenta de Google. Pide a tu padre, madre o tutor legal que lea estos términos contigo.

Si eres padre, madre o tutor legal y permites a tu hijo/a que utilice los servicios, se te aplican estos términos y eres responsable de la actividad que realice en los servicios.

Algunos servicios de Google tienen requisitos de edad mínima adicionales, como se describe en sus términos y políticas adicionales específicos.
</p>
    
    <footer class="footer">
        <h4 class="footer-text">Derechos reservados de <a href="https://www.uniempresarial.edu.co/" target="_blank" >Uniempresarial</a></h4>
        <a href="https://github.com/SantherEHPM/DonkeyRoads.git" target="_blank">
            <svg class="mini-icon"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
        </a>
    </footer>
</body>
</html>