<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styless/styless.css">
    <link rel="icon" href="../assets/img/icon.png">
    <title>DonkeyRoads-Servicios activos</title>
</head>
<body>
    <header class="header-p" >
        <img src="../assets/img/perfil.jpg" alt="perfil" class="iconh">
        <h1 class="line-text">Servicios disponibles</h1>
    </header>
    <main class="disponible">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1988.719076833725!2d-74.0930589!3d4.5147809!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3fa356d4e41fbb%3A0xf4abb8d633e3aedd!2sHelader%C3%ADa%20y%20fruter%C3%ADa%20LECHE%20Y%20MIEL!5e0!3m2!1ses!2sco!4v1662335382195!5m2!1ses!2sco" style="height:inherit;width:100vw;" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="borderl-s" id="menu">
            <div class="left-line-serv-borderl-menu">
                <h2 class="text">Nombre de transportador/cliente</h2>
                <h3 class="text">Fecha y hora del servicio</h3>
                <h3 class="text">Direccion de partida</h3>
                 
                <div><button class="bttn-p-text">Detalles</button><div class="space-line"></div><button class="bttn-p-text">Udicar</button><div class="space-line"></div><button class="bttn-p-text">Aceptar</button></div>
            </div>
            <div class="left-line-serv-borderl-menu">
                <h2 class="text">Nombre de transportador/cliente</h2>
                <h3 class="text">Fecha y hora del servicio</h3>
                <h3 class="text">Direccion de partida</h3>
                 
                <div><a href="./detellesServicio.html"><button class="bttn-p-text" >Detalles</button></a><div class="space-line"></div><button class="bttn-p-text">Udicar</button><div class="space-line"></div><button class="bttn-p-text">Aceptar</button></div>
            </div>
            <div class="left-line-serv-borderl-menu">
                <h2 class="text">Nombre de transportador/cliente</h2>
                <h3 class="text">Fecha y hora del servicio</h3>
                <h3 class="text">Direccion de partida</h3>
                 
                <div><button class="bttn-p-text">Detalles</button><div class="space-line"></div><button class="bttn-p-text">Udicar</button><div class="space-line"></div><button class="bttn-p-text">Aceptar</button></div>
            </div>
        </div>
    </main>
    <footer class="center">
    </footer>
</body>
</html>