h1{
    display: flex;
    padding: 20px;
    color: aliceblue;
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
      align-items: center;
      width: 100%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: rgb(80, 80, 80);
}

.container{
    width: 90%;
    margin: 0px auto;
    box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.116);
    padding: 30px;
}
div{
    font-family:Arial, Helvetica, sans-serif;
    margin: 5%;
    background-color: rgba(182, 182, 182, 0.541);
    border-width: 2px;
    padding: 2px 1px 3px;
    padding-left: 50px;
    border: 10px;
    box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.11);
    width: 400px;
    border-radius: 2px;
    cursor: pointer;
    transition: .4s;
}
div:hover{
    box-shadow: 5px 5px 12px -1px rgba(14, 26, 36, 0.363);
}
select{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 5px 5px 3px 77px;
    background-color: rgba(182, 182, 182, 0.541);
    border-width: 2px;
    padding: 2px 1px 1;
    padding-left: 40px;
    border: 10px;
    height: 60px;
    box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.11);
    width: 450px;
    border-radius: 2px;
    cursor: pointer;
    transition: .4s;
}
select:hover{
    box-shadow: 5px 5px 12px -1px rgba(14, 26, 36, 0.363);
}
section{
    margin: 5%;
    padding: 0 1px 0;
    padding-left: 5px;
    width: 30%;
    font-family:Arial, Helvetica, sans-serif;
}
/*.switch > input {
    display:none;
}
.switch > label {
    margin: 3px 0px 0 9px;
    display:block;
    position:relative;
    background: rgb(102, 102, 102);
    width: 90px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid black;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.5), 
                10px 10px 10px rgba(0,0,0,0.1),
                inset -8px -8px 15px rgba(255,255,255,0.5),
                inset 10px 10px 10px rgba(0,0,0,0.1);;
    cursor: pointer;
}

.switch > label:before {

    content:""; 
    position:absolute;
    width:40px;
    height:40px;
    background:#fff;
    border-radius:50%;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1); 
    top:0;
    Left:0;
    transition: all 0.3s;

}

.switch> input:checked + label{
    background: #59a9e6;
}

.switch> input:checked + label:before{
    left: 56px;
}*/
.op-acerca {
   margin: -280px 700px 0 900px;
}
.op-sesion{
    margin: 75px 700px 70px 900px;
}
