*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tittle-ayuda{
    text-align: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container .row1{
    width: 90%;
    margin: 0px auto;
    box-shadow: 0 0 15px -1px rgb(0, 0, 0, .1);
    padding: 30px;
}
.container .row{
    width: 90%;
    margin: 0px auto;
    box-shadow: 0 0 15px -1px rgb(0, 0, 0, .1);
    padding: 30px;
}
/*.row2{
    width: 90%;
    margin: 10px auto;
    box-shadow: 0 0 15px -1px rgb(0, 0, 0, .1);
}
.row3{
    width: 90%;
    margin: 10px auto;
    box-shadow: 0 0 15px -1px rgb(0, 0, 0, .1);
}*/
