*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tittle-ayuda{
   display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(34, 33, 33);
}
.container /*.row1*/{
    width: 90%;
    margin: 0px auto;
    box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.116);
    padding: 30px;
}
.pregunta{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;   
}
.respuesta{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;   
}
.container-ayuda .item-ayuda{
    box-shadow: 0 0 15px -1px rgb(0, 0, 0, .2);
    margin-bottom: 20px;
    border-radius: 10px;
}
.container-ayuda .item-ayuda .pregunta{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(118, 164, 233, 0.315);
    padding: 20px 20px 20px 80px;
    transition: .4s;
}
.container-ayuda .item-ayuda .pregunta .more{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px -1px rgba(36, 68, 87, 0.623);
    border-radius: 20%;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
    transition: .4s;
}
.container-ayuda .item-ayuda .pregunta .more:hover{
    box-shadow: 0 0 12px -1px rgba(14, 26, 36, 0.781);
}
.container-ayuda .item-ayuda .pregunta span{
    position: absolute;
    left: 10px;
    font-size: 3rem;
    top: 10px;
    opacity: 20%;
}
.container-ayuda .item-ayuda .respuesta{
    position: relative;
    padding: 0 20px 0 80px;
    overflow: hidden;
    height: 0;
    transition: .4s;
}
.container #comunic{
    font-size: 20px;
    right: 100px;
    bottom: 100px;
    border: 0;
    padding: 12px 15px;
    background-color: rgb(44, 47, 49);
    color: aliceblue;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(6, 22, 17, 0.2);
}
.dudas{
    text-align: center;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
