:root{ /*Variables, procuren hacer el @import "../styless-basic.css en los individuales"*/
    --font-title:'Combo', cursive;/*font-weidth:400*/
    --font-subtitle: 'Oswald', sans-serif;/*font-weidth:300-500*/
    --font-light: 'Prompt', sans-serif;/*font-weidth:300-400 italic*/
    --main-color:#FA8100;
    --dark-color:#7a0600;
    --second1-color:#E3480B;
    --second2-color:#EBA707;
    --second3-color:#FFDD05;
    --contrast-color: #ffffff;
}
*{/*Inicializacion global*/
    margin: 0;
    padding: 0;
    font-family: var(--font-light);
    box-sizing: border-box;
}
h1, h2{/*Configuracion de fuentes*/
    font-family: var(--font-subtitle);
}
/*Encabezado*/
.header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 20vh; 
    padding: 5vh 3vw 5vh 3vw;
    color: var(--contrast-color);
    background:  linear-gradient(0,var(--main-color) 40%,var(--second1-color));
}
.header-s-icon{
    margin: auto 0;
    width: 5vw;
    min-width: 60px;
    height: fit-content;
    filter: invert(100%);
}
.header>a{
    position: relative;
    bottom:20%;
    min-height: 10px;
    height: 1vh;
}
a{
    text-decoration: none;
    height: fit-content;
}
.header>a:hover{
    border-radius: 25px;
    box-shadow: 0 4vw  15px 5px #ffffffa2;
}
.header-div{
    width: 600px;
    text-align: center;
    height: 100%;
    display: inline-block;
}
.header-div *{
    vertical-align: top;
    display: inline-block;
    margin: auto 10px;
}
.header-title{
    color: var(--contrast-color);
    font-size: 6vh;
    font-family: var(--font-title);
    height: 6vh;
}
.header-subtitle{
    margin: 1vh auto;
    display: block;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: var(--font-subtitle);
    font-size: 3vh;
}
.header-icon{ 
    height: 7vh;
}


/*inicio menú*/
.container .btn-menu label{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 103%;
    height: 216vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height:216vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(20%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #272220;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
/*fin menú*/


.avatar{
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 12px solid #000000b0;
    background-color: rgb(226, 226, 226);
    border-radius: 50%;
    position: absolute;
    bottom: 200px;
    left: calc(50% - 120px);
    box-shadow: 0 0 15px #00000049;
}
.form{
    width: 40%;
    height: auto;
    margin: 18% auto;
    border-radius: 10px;
    border: 4px solid #3C3D59 ;
    padding: 25px 10px;
    text-align: center;
    
}
.form > input,label,button,select {
    display: inline-block;
    width: 80%;
    margin: 3% 0;
    font-size: 20px;
}
.form > input{
    padding: 10px 2px;
    border: none;
    border-bottom: 1px solid #f25757;
    outline: none;
}
.form > label{
    text-align: left;
    padding: 5px;
}

.btn{
    font-size: large;
    padding: 1ex;
    width: auto;
    line-height: normal;
    height: 6ex;
    background: var(--main-color);
    border-radius: 5px;
    border: 5px  solid  #7a0600;
    border-style: none solid solid none;  
    
  }  
  .btn:active{
    border-width: 3px;
    color: var(--second1-color);
    border-style: solid;
    background-color: var(--second2-color);
    border-color: var(--second1-color);
}

  .btn:hover {
    cursor: pointer;
  }
  .boton-avatar{
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    right: 17rem;
    width: 200px;
    top:10rem;
    padding: 12px;
    background-color: rgb(122, 21, 30);
    color: aliceblue;
    position: absolute;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(15, 31, 26, 0.514);
}

  .alerta{
    width: 25%;
    height: 100px;   
    background: #f25757;   
    position: fixed;
    top: calc(100vh - 400px);
    left: 600px;
    text-align: center; 
    cursor: pointer;   
  }
  
  .textAlerta{
    width: 100%;
    margin-top: 12%;
    color: aliceblue;
  }

@media screen and (max-width: 768px) {
    .form{
        width: 60%;    
        margin: 30% auto;   
        border: 2px solid #3C3D59 ;
        padding: 15px 5px;    
    }
    .boton-avatar{
        right: 1rem;
    width: 190px;
    top:9rem;
    }
    .avatar{
        max-height: 250px;
        max-width: 250px;
        margin: 4% auto;
    }
}


@media screen and (max-width: 600px) {
    .form{
        width: 70%;    
        margin: 33% auto 3% auto;   
        padding: 10px 2px;  
        border: 1px solid #3C3D59 ;  
    }
    .form > input,label,button,select {     
        margin: 2% 0;
        font-size: 16px;
    }
    .form > input{
        padding: 5px 1px;        
    }
    .form > label{       
        padding: 2px;
    }
    .btn{
        font-size: 16px;
    }
    .avatar{
        height: 180px;
        width: 180px;
        bottom: 47%;
        left: calc(50% - 90px);
    }
    .boton-avatar{
        font-size: 12px;
        height: 40px;
        width: 150px;
    }
}
.footer{
    padding: 5px;
    text-align: center;
    height: 10vh;
    width: 100vw;
    color: var(--contrast-color);
    background-color: var(--dark-color);
    text-decoration: none;
}
.footer *{
    color: var(--contrast-color);
}
.footer-text{
    margin: 0.5%;
    font-size: 1.5vh;
    text-decoration: dotted;
    font-weight: 300;
     
}
.mini-icon{
    height:3vh;
    min-height: 20px;
}
/*Modal de cancelacion*/
.div-modal{
    position: absolute;
    top:25%;
    left:30%;
    margin: 0 auto;
    width: 40vw !important;
    min-width: 350px;
    height: fit-content;
    text-align: center;
    background-color: white;
}
.div-modal>textarea{
    margin: 10px;
    width: 80%;
    height: 15ex;
}
.div-modal *{
    font-size: larger;
    font-family: var(--font-light);
}
.button-main[id="enviar-modal"]{
    margin: 0 auto;
    display: block;
}

/*Mediaquerys: Condicionales segun tamaño de pantalla*/
@media all and (max-width:760px) {  
    .header-div{
        width:400px;
    }
    .header-icon{ 
        height: 5vh;
    }
    .header a:hover{
        border-radius: 25px;
        box-shadow: 0 4vw  15px 5px #ffffffa2;
    }
    .header-title{
        font-size: 4vh;
    }
    .div-modal{
        left: 0;
        width: 100vw !important;
        border-radius: 0;
    }
}
@media all and (max-width:580px) { 
    .header-div{
        width:350px;
    }
    .header-s-icon{
        width: 10vw;
        min-width: 40px;
    }
    .header a:hover{
        box-shadow: 0 10vw  15px 5px #ffffffa2;
    }
    .header-title{
        font-size: 4vh;
    }
    .header-icon,.header-title{ 
        height: 5vh;
    }
}
@media all and (max-width:480px) { 
    .header-title{
        font-size: 3vh;
    }
    .header-div{
        width:200px;
    }
    .header-icon{
        position: absolute;
        visibility: hidden;
    }
    .footer-text{
        font-size: 2vh;
    }
}

@media all and (max-height:1000px){
    .footer-text{
       font-size: small;
    }
}

@media all and (max-height:500px){
    .header-title{
        font-size: 20px;
    }
    .footer{
        padding: 2px;
        height: 15vh;
    }
    .footer-text{
        font-size: x-small;
    }
    .header-subtitle{
        font-size: 16px;
    }
    .header-s-icon{
        width: 5vh;
        height: 5vh;
        min-height: 30px;
        min-width: 30px;
    }
}


/*
.foto{
    display: block;
    position: relative;
    width: 10%;
    height: 29rem;
    background-color: white;
}
.avatar{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 10px solid rgb(151, 151, 151);
    background-color: rgb(211, 211, 211);
    border-radius: 90%;
    position: absolute;
    left: calc(50% - 90px);
}
#boton-editar{
    right: 90rem;
    top: 18rem;
    border: 0;
    font-size: 30px;
    padding: 12px 15px;
    background-color: rgb(44, 47, 49);
    color: aliceblue;
    position: absolute;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(64, 206, 163, 0.2);
}
.container{
        width: 98%;
        margin: 12px;
        box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.116);
        padding: 30px;
}
nav{
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(182, 182, 182, 0.541);
    border-width: 2px;
    padding: 20px 50px 70px 50px;
    padding-left: -30%;
    padding-right: 85%;
    border: 10px;
    box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.11);
    width: 15%;
    height: 100px;
    border-radius: 2px;
}

.input{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 20vh;
    background-color: rgb(101, 160, 216);
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
  }
  input{
    padding: 30px;
    border-radius: 20px 20px 20px 20px;
    font-size: 30px;
  }
 button{
    align-items: center;
    bottom: 90%;
    font-size: 40px;
   margin: 20px 20px 20px 500px;
   width: 500px;
   height: 80px;
  }
  