:root{ /*Variables, procuren hacer el @import "../styless-basic.css en los individuales"*/
    --font-title:'Combo', cursive;/*font-weidth:400*/
    --font-subtitle: 'Oswald', sans-serif;/*font-weidth:300-500*/
    --font-light: 'Prompt', sans-serif;/*font-weidth:300-400 italic*/
    --main-color:#FA8100;
    --dark-color:#7a0600;
    --second1-color:#E3480B;
    --second2-color:#EBA707;
    --second3-color:#FFDD05;
    --contrast-color: #ffffff;
}
*{/*Inicializacion global*/
    margin: 0;
    padding: 0;
    font-family: var(--font-light);
    box-sizing: border-box;
}
h1, h2{/*Configuracion de fuentes*/
    font-family: var(--font-subtitle);
}
/*Encabezado*/
.header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 20vh; 
    padding: 5vh 3vw 5vh 3vw;
    color: var(--contrast-color);
    background:  linear-gradient(0,var(--main-color) 40%,var(--second1-color));
}
.header-s-icon{
    margin: auto 0;
    width: 5vw;
    min-width: 60px;
    height: fit-content;
    filter: invert(100%);
}
.header>a{
    position: relative;
    bottom:20%;
    min-height: 10px;
    height: 1vh;
}
a{
    text-decoration: none;
    height: fit-content;
}
.header>a:hover{
    border-radius: 25px;
    box-shadow: 0 4vw  15px 5px #ffffffa2;
}
.header-div{
    width: 600px;
    text-align: center;
    height: 100%;
    display: inline-block;
}
.header-div *{
    vertical-align: top;
    display: inline-block;
    margin: auto 10px;
}
.header-title{
    color: var(--contrast-color);
    font-size: 6vh;
    font-family: var(--font-title);
    height: 6vh;
}
.header-subtitle{
    margin: 1vh auto;
    display: block;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: var(--font-subtitle);
    font-size: 3vh;
}
.header-icon{ 
    height: 7vh;
}/*
.foto{
    display: block;
    position: relative;
    width: 10%;
    height: 29rem;
    background-color: white;
}
.avatar{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 10px solid rgb(151, 151, 151);
    background-color: rgb(211, 211, 211);
    border-radius: 90%;
    position: absolute;
    left: calc(50% - 90px);
}
#boton-editar{
    right: 90rem;
    top: 18rem;
    border: 0;
    font-size: 30px;
    padding: 12px 15px;
    background-color: rgb(44, 47, 49);
    color: aliceblue;
    position: absolute;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(64, 206, 163, 0.2);
}
.container{
        width: 98%;
        margin: 12px;
        box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.116);
        padding: 30px;
}
nav{
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(182, 182, 182, 0.541);
    border-width: 2px;
    padding: 20px 50px 70px 50px;
    padding-left: -30%;
    padding-right: 85%;
    border: 10px;
    box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.11);
    width: 15%;
    height: 100px;
    border-radius: 2px;
}

.input{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 20vh;
    background-color: rgb(101, 160, 216);
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
  }
  input{
    padding: 30px;
    border-radius: 20px 20px 20px 20px;
    font-size: 30px;
  }
 button{
    align-items: center;
    bottom: 90%;
    font-size: 40px;
   margin: 20px 20px 20px 500px;
   width: 500px;
   height: 80px;
  }
  