*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
h1{
  color: aliceblue;
}
.titulo{
  display: flex;
  padding: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(34, 33, 33);
}
.container{
  display: flex;
  justify-content: center;

  display: flex;
  min-height: 100vh;
  background-color: rgb(201, 210, 211);
}
.chat{
  width: 100%;
  padding: 1rem;
  padding-top: 100px;
  color: aliceblue;
  position: relative;
  font-size: 20px;
}
.chat-bot{
  width: 30%;
  word-wrap: break-word;
  background-color: rgb(0, 0, 0);
  padding: 20px 15px;
  border-radius: 15px 15px 10px 0;
  margin: 10px 0;
}
.chat-yo{
  width: 30%;
  margin: 5px 0 5px auto;
  position: relative;
  background-color: rgb(84, 133, 196);
  padding: 20px 15px;
  border-radius: 15px 15px 0 10px;
}
.input{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 20vh;
  background-color: rgb(101, 160, 216);
  padding: 15px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}
.input input{
  padding: 30px;
  width: calc(90% - 30px);
  height: 100%;
  border-radius: 20px 20px 20px 20px;
  font-size: 20px;
}
.enviar{
  font-size: 50px;
  width: 80px;
  height: 80px;
  background-color: rgb(60, 107, 151);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.712);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
  transition: 4s;
}
