@import "../styless-basic.css";

main, .map{
    position: relative;
    display: block !important;
    width: 100vw;
    height: 90vh;
}
.back{
    position: absolute;
    display: inline-block;
    width: 5vw;
    height: 5vw;
    min-width: 50px;
    min-height: 50px;
    padding: 10px;
    background: var(--main-color);
    border-radius: 100%;
    box-shadow:var(--dark-color) 0 5px 0px 1px ;
    border-style: hidden;
    top: 1vw;
    right: 1vw;
}
.back>img{
    width: 100%;
    height: 100%;
}