/*Clases 

input de texto y seleccion: icampo
label: leyend
<fieldset>: margin
boton: bttn
estrellas: ⋆
texto de titulo (h1): title
imagenes de icono: icon
imagenes comunes : imgcomun
texto normal(p):textn
cosas centrados: (que contenga)center
cosas  a la derecha: (que contenga)right
cosas con borde gureso: (que contenga) bordg
cosas con borde ligero: (que contenga) bordl
cosas con el color principal de relleno:(que contenga) -p
links: lin
check boxs: ibox

*/
@import "../styless-basic.css";
*{
    margin: 0;
    padding: 0;
    font-family: var(--font-light);
    box-sizing: border-box;
}
 h2{
    margin-top:-10vw;
    font-family: var(--font-subtitle);
}
.title{
    
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;

}

.title4{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    margin-top: 0px;
}
.title5{
    top: 70px;
    left: 25%;
    position: relative;

}
.title6{
    margin: 0 auto;
    padding: 1vw;
    font-size: 40px;
    min-height:40px;
    min-width: 40px;
    
}
.parter{
    position: relative;
    text-align: center;
    top: 6vw;
}


.imgcomun{
    margin-top: 10px;
    position: relative;
    height: 10vw;
    width: 10vw ;
    top: 160px;
    left: 45%;
}
.imgcomun2{
    float: left;
    margin-left: 10px;
    height: 40px; 
    width: 40px;
}

.textn{
    text-align: center;
}
.textn1{
    margin-top: -180px;
    position: relative;
    height: 10vw;
    width: 10vw ;
    top: 110px;
    left: -10%;
    font-size: 20px;
    min-width: 320px;
    min-height: 40px;
    
}
.textn2{
    margin-top: -180px;
    position: relative;
    height: 10vw;
    width: 10vw ;
    top: 140px;
    left: 105%;
    font-size: 20px;
    
}

.button-main{
    display: inline-block;
    text-decoration: none;
    text-align: center;;
    color: rgb(255, 255, 255);
    height: 6ex !important;
    width: 20vw !important;
    min-width: 200px;

}
.button-main:visited{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.bttn6{
    margin-top: -700px;
    position: relative;
    height: 2vw;
    width: 40vw ;
    left: 5%;
    
}   

.bttn7{
   
    position: relative;
    height: 2vw;
    width: 40vw ;
    top: 0 auto;
    top: 8px;
    display: inline-block;

}
.bttn8{
   
    position: relative;
    height: 2vw;
    width: 40vw ;
    top: 0 auto;
    top: 8px;   
    display: inline-block;

}
.bttn9{
   
    position: relative;
    height: 2vw;
    width: 40vw ;
    top: 0 auto;
    top: 8px;

}

.icampo{
    top: 30px;
    margin-top: 90px;
    position: relative;
    height: 3vw;
    width: 30vw ;
    left: 15%;
    border-radius: 10px;
     min-width: 320px;
    min-height: 40px;
}
.icampo2{
    top: 25px;
    margin-top: 20px;
    position: relative;
    height: 3vw;
    width: 30vw ;
    left: 15%;
    border-radius: 10px;
    min-width: 320px;
    min-height: 40px;
}
.icampo3{
    top: 15px;
    margin-top: 20px;
    position: relative;
    height: 3vw;
    width: 30vw ;
    left: 15%;
    border-radius: 10px;
    min-width: 320px;
    min-height: 40px;
}
.icampo5{
    margin-top: 20px;
    position: relative;
    height: 3vw;
    width: 26vw ;
    left: 17%;
    border-radius: 10px;
    min-width: 320px;
    min-height: 40px;
}
.icampo6{
    margin-top: 20px;
    position: relative;
    height: 3vw;
    width: 26vw ;
    left: 17%;
    border-radius: 10px;
    min-width: 320px;
    min-height: 40px;
}
.icampo7{
    margin-top: 20px;
    position: relative;
    height: 3vw;
    width: 26vw ;
    left: 17%;
    border-radius: 10px;
    min-width: 320px;
    min-height: 40px;
}

input::placeholder{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}
.guardar{
    left: 4vw;
    position: relative;
    text-align: center;
}

